.info__wrapper {
  padding: 24px;

  background: #f0f2f7;
  border-radius: 10px;
}

.info__table {
  background: #fff;
  box-shadow: 0px 9px 13px rgba(7, 66, 108, 0.05);
  border-radius: 10px;
  display: block;
}

.info__legend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 46px;

  margin-top: 32px;
}

.info__legend__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info__legend__circle {
  display: inline-block;

  width: 14px;
  height: 14px;
  margin-right: 8px;

  background: $black;
  border-radius: 50%;

  &--green {
    background: $green;
  }

  &--yellow {
    background: $yellow;
  }

  &--orange {
    background: $orange;
  }

  &--red {
    background: $red;
  }
}

.info__legend__text {
  font-size: 14px;
  line-height: 130%;

  color: $black;
}

.info__controlls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  margin-bottom: 20px;
}

.info__controll {
  &--active {
    background: $blue;
    color: #fff;
  }
}

.info__pannel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 28px;
}

.info__pannel__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info__pannel__phone {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-right: 48px;
}

.info__pannel__copy {
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;

  padding: 0;
  margin-right: 8px;

  transition: all 0.2s linear;
  cursor: pointer;

  color: $blue;
  border: none;
  background: none;
}

.info__pannel__phone__value {
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;

  color: $black;
}

.info__pannel__description {
  font-size: 12px;
  line-height: 150%;

  max-width: 212px;
  margin-right: 60px;

  color: #767e85;
}

.info__pannel__stats {
  margin-right: 60px;
}

.info__pannel__stats__value {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  margin-bottom: 2px;

  color: $black;
}

.info__pannel__stats__text {
  font-size: 12px;
  line-height: 15px;

  color: #808891;
}

.info__pannel__options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.info__pannel__link {
  font-size: 14px;
  line-height: 120%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;

  color: $black;

  &:hover {
    .info__pannel__link__text {
      border-color: $black;
    }
  }
}

.info__pannel__link__icon {
  margin-right: 8px;

  color: $blue;
}

.info__pannel__link__text {
  display: inline-block;

  transition: all 0.2s linear;

  border-bottom: 1px solid transparent;
}
