.registration__input__list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 32px;
}

.registration__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__link {
  display: inline-block;

  text-decoration: none;
  transition: all 0.2s linear;

  color: #767e85;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: #767e85;
  }
}
